[submodule "themes/cactus"]
	path = themes/cactus
	url = https://github.com/monkeyWzr/hugo-theme-cactus.git
[submodule "themes/not-much"]
	path = themes/not-much
	url = https://github.com/imgios/not-much.git
